*{
    margin:0px;
    padding: 2px;
    box-sizing: border-box;
}
body{
    background-image: url("https://cdn.wallpapersafari.com/34/63/lcY3WC.jpg");
    height:100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}
#register{
    background-color: rgb(196, 181, 237);
    color:rgb(28, 23, 23);
    padding: 10px;
    height:650px;
    width: 600px;
    border:1px rgb(0, 0, 0);
    border-radius: 9px;
    box-shadow: 12px 20px 30px rgb(95, 95, 115);
    box-shadow: 10px 20px 30px rgb(215, 223, 228);;

}
.input_element input,select{
    margin:10px;
    padding: 8px;
   width: 300px;
   border-radius: 5px;
   border-style:none;
   border-bottom: 1px solid rgb(143, 140, 140);
  
   
}
.context{
    font-size: 0.7em;
    font-weight: normal;
    color:rgb(53, 49, 49);
    margin:10px;
    font-family:  Georgia, Times New Roman, serif;
    justify-content:space-between;
    text-align:start;
}
.term{
    color:rgb(170, 8, 106);
    border-bottom:1px solid rgb(199, 12, 161);
}
.context input{
    margin: 5px;
}
.context a{
    margin: 5px;
}
.register_but{
    display:flex;
    margin: 10px;
}
.register_but button{
    background-color:rgb(16, 74, 54);
    color:rgb(247, 243, 243);
    font-size: 15px;
    padding:10px;
    border-radius: 5px;
    margin: 10px 60px 50px 300px;

}
.register_but button:hover{
   background-color:rgb(133, 228, 123);
}