*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    background-image: linear-gradient(to bottom,rgb(184, 183, 183), rgb(20, 79, 168), rgb(32, 0, 80));
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
}
#registration h1{
    align-items: center;
    margin: 10px;
}    

div.inputs input
{
    border-radius: 10px;
    width: 350px;
    margin: 10px;
    padding: 5px;
}
div.registration-form
{
    background-image: linear-gradient(to bottom rgb(111, 111, 232),rgb(21, 21, 222));
    border: 1px solid black;
    height: 400px;
    width: 500px;
    text-align: center;
    color: aliceblue;
    margin:5px;
    box-shadow: 10px 20px 30px rgb(215, 223, 228);
    border-radius: 15px;
}
div.check
{
    margin: 10px 40px 10px 10px;
    display: flex;
    margin: 10px;
}
div.check p{
    font-size: 15px;
    margin: 5px;
}
div.check input{
    margin: 5px;
}
button
{
    padding: 7px 10px;
    margin: 5px 10px;
    background-color: rgb(0, 76, 0);
    width: 150px;
    height: 50px;
}
.button{
    display: flex;
    margin: 10px 60px 10px 20px;
    justify-content: end;
}
button:hover{
    background-color: rgb(131, 255, 7);
}