*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color:linear-gradient(dark rgb(2, 2, 71),rgb(228, 234, 237));
}    
body{
    background: linear-gradient( to bottom,hsl(246, 92%, 25%), #edf1f4,rgb(23, 96, 159));
    height:100vh;
    width:100vw;
    align-items: center;
}
div.register-Form{
    height: 13cm;
    width: 50vw;
    text-align: center;
    margin :380px;
    border: 5px solid rgb(255, 255, 255);
    background:  #05003a;
    box-shadow: 10px 20px 30px;
}
h1{
    color: white;
}
input{
 
    margin : 10px;
    padding:15px;
}
button{
    background-color: rgb(0, 59, 0);
    color :white;
    width : 150px;
    height: 50px;
}

p{
    color: white;
}
button:hover{
    background-color: lightgreen;
}
.button{
    display: flex;
    margin: 10px 60px 10px 20px;
    justify-content: end;
}
div.check
{
    margin: 10px 40px 10px 10px;
    display: flex;
    margin: 10px;
}
div.check p{
    font-size: 15px;
    margin: 5px;
}
div.check input{
    margin: 5px;
}
#a{
    padding: 5px;
    margin: 5px;
}